*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#Nav{
  background-color:#EFBC9B;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  align-items: center;
  border-radius: 0px 0px 0px 80px;
  transition: 0.8ms;
  box-shadow: 0 0 25px rgb(44, 1, 1),
              0 0 25px rgb(44, 1, 1);
}
#Nav a{
  text-decoration: none;
  color: #5D0E41;
  font-weight: 400px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#Nav a:hover{
  color: rgb(35, 35, 225);
  background-color:white;
  border-radius: 5px;

}
#Nav:hover{
  background-color: chocolate;
}
.dropdown{
  float: left;
  overflow: hidden;
}
